mixin whyus
    .whyus
        .whyus__bg
        .whyus__content
            .whyus__content-column.whyus--first
                h1.whyus__column-title Why Choose Us?
                p.whyus__column-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, dolor, obcaecati sed veniam quae saepe laboriosam consequatur eligendi ipsam tempora eaque totam nulla vel accusamus labore autem nesciunt dolorem omnis? Ex iusto nostrum officiis suscipit?
            .whyus__content-column.whyus--second
                .whyus__column-img
                    .whyus__img-item.img--one
                    .whyus__img-item.img--two
        