mixin navmobile
    .navmobile
        .navmobile__colse-btn
            .navmobile__btn-line
            .navmobile__btn-line
        ul.navmobile__list
            li.navmobile__list-item
                a.navmobile__item-link(href="./index.html") Home
            li.navmobile__list-item
                a.navmobile__item-link(href="./booking.html") Booking
            li.navmobile__list-item
                a.navmobile__item-link(href="./gallery.html") Gallery