mixin sides
    .sides
        h1.sides__title Choose your Side
        .sides__block
            .sides__block-side.side--day
                .sides__side-day
                    h2.sides__day-title Day
            .sides__block-side.side--night
                .sides__side-night
                    h2.slides__night-title Night