mixin fullscreen
    .fullscreen
        .fullscreen__body
            .fullscreen__picture-filter
                .filter__tooltiptext Invert colors
                i.fas.fa-image#enableFilter
            .fullscreen__body-filter
            .fullscreen__picture