@use '../../../styles/variables.scss' as *;

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/header/header_bg.jpg);
    &__content {
        width: 65%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header__title {
            text-align: center;
            margin-bottom: 50px;
            font-size: 75px;
            color: $headerTitleColor;
            text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        .header__btn {
            padding: 10px 45px;
            font-size: 24px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            outline: none;
            font-weight: bold;
        }
        .header__btn:hover,
        .header__btn:focus {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
}