mixin profile-nav
    .profile__nav
        button.profile__nav-return
            i.fas.fa-arrow-alt-circle-left
        .profile__nav-user
            .profile__nav-btn.active
                .profile__btn-border
                    .border--top
                p.profile__btn-name My Page
                .profile__btn-border
                    .border--bottom
            .profile__nav-btn
                .profile__btn-border
                    .border--top
                p.profile__btn-name My Tickets
                .profile__btn-border
                    .border--bottom
            //- .profile__nav-btn
            //-     .profile__btn-border
            //-         .border--top
            //-     p.profile__btn-name Support
            //-     .profile__btn-border
            //-         .border--bottom
        .profile__nav-admin
            .profile__nav-btn.active
                .profile__btn-border
                    .border--top
                p.profile__btn-name Dashboard
                .profile__btn-border
                    .border--bottom
            .profile__nav-btn
                .profile__btn-border
                    .border--top
                p.profile__btn-name Customers
                .profile__btn-border
                    .border--bottom
            .profile__nav-btn
                .profile__btn-border
                    .border--top
                p.profile__btn-name Support
                .profile__btn-border
                    .border--bottom