mixin spinner
    .spinner
        .spinner__orbit-mars
            .spinner__mars-planet
        .spinner__orbit-earth
            .spinner__earth-planet
        .spinner__orbit-mercury
            .spinner__mercury-planet
        .spinner__sun
