mixin my-tickets
    .profile__user-page.mytickets
        h2.profile__mytickets-pagetitle My Tickets
        .profile__mytickets-tickets
            .profile__tickets-ticket
                .profile__ticket-header
                    i.fas.fa-ticket-alt
                    p.profile__header-text Ticket #154563
                .profile__ticket-body
                    .profile__body-column
                        p.profile__ticket-item First Name
                        p.profile__ticket-item Last Name
                        p.profile__ticket-item Age
                        p.profile__ticket-item Email
                        p.profile__ticket-item Agency
                        p.profile__ticket-item Departure
                        p.profile__ticket-item Sit
                        p.profile__ticket-item Flight Duration
                        p.profile__ticket-item Arrival
                    .profile__body-column
                        p.profile__ticket-item James
                        p.profile__ticket-item Anderson
                        p.profile__ticket-item 43
                        p.profile__ticket-item james@gmail.com
                        p.profile__ticket-item NASA
                        p.profile__ticket-item 21.06.2020
                        p.profile__ticket-item B12
                        p.profile__ticket-item 23 days
                        p.profile__ticket-item 24.07.2020
            .profile__tickets-ticket
                .profile__ticket-header
                    i.fas.fa-ticket-alt
                    p.profile__header-text Ticket #154563
                .profile__ticket-body
                    .profile__body-column
                        p.profile__ticket-item First Name
                        p.profile__ticket-item Last Name
                        p.profile__ticket-item Age
                        p.profile__ticket-item Email
                        p.profile__ticket-item Agency
                        p.profile__ticket-item Departure
                        p.profile__ticket-item Sit
                        p.profile__ticket-item Flight Duration
                        p.profile__ticket-item Arrival
                    .profile__body-column
                        p.profile__ticket-item James
                        p.profile__ticket-item Anderson
                        p.profile__ticket-item 43
                        p.profile__ticket-item james@gmail.com
                        p.profile__ticket-item NASA
                        p.profile__ticket-item 21.06.2020
                        p.profile__ticket-item B12
                        p.profile__ticket-item 23 days
                        p.profile__ticket-item 24.07.2020
        

