ul.nav
    li.na__item
        a.nav__link(href="./index.html") Home
    li.na__item
        a.nav__link(href="./booking.html") Booking
    li.na__item
        a.nav__link(href="./gallery.html") Gallery