mixin nav
    .nav
        .content
            .nav__column
                ul.nav__column-list
                    li.nav__list-item
                        a.nav__item-link(href="./index.html") Home
                    li.nav__list-item
                        a.nav__item-link(href="./booking.html") Booking
                    li.nav__list-item
                        a.nav__item-link(href="./gallery.html") Gallery
            .nav__column.column--middle
                .nav__column-logo
                .nav__column-agencies
                    .nav__agencies-agency.agency--one
                    .nav__agencies-agency.agency--two
                    .nav__agencies-agency.agency--three
            .nav__column.column--right
                .nav__column-btn#sign--in Sign in
                //- .nav__column-btn.signup--btn Sign up

