.footer {
    height: 150px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content-social {
        width: 230px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 15px;
        transform: translateX(-5px);
        .footer__social-icon {
            width: 60px;
            height: 60px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            transition: .3s;
            cursor: pointer;
        }
        .footer__social-icon:hover {
            color: #e40707;
        }
    }
    &__content-nav {
        display: flex;
        justify-content: center;
        list-style: none;
        .footer__li-link {
            text-decoration: none;
            color: #fff;
            padding: 10px 25px;
            font-size: 18px;
            transition: .3s;
        }
        .footer__li-link:hover {
            color: #e40707;
        }
    }
}

@media screen and (max-width: 375px) {
    .footer {
        &__content-nav {
            .footer__li-link {
                padding: 10px 20px;
            }
        }
    }
}