@import url('https://fonts.googleapis.com/css?family=Oxanium:400,700&display=swap');

// ***** GENERAL *****
$font: 'Oxanium', cursive;

// ***** HEADER_NAV *****
$links_color: #000;
$links_size: 18px;
// ::HOVER
$links_color-hover: #e40707;



