@use '../../../styles/mixins.scss' as mixins;

.booking {
    min-height: 100vh;
    position: relative;
    padding-top: 200px;
    padding-bottom: 50px;
    background-color: #000;
    &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
        transition: 2s;
        visibility: hidden;
    }

    &__bg:nth-child(1) {
        visibility: visible;
        filter: brightness(70%);
        @include mixins.image_background('../assets/booking/booking_bg1.jpg');
    }
    &__bg:nth-child(2) {
        visibility: hidden;
        @include mixins.image_background('../assets/booking/booking_bg2.jpg');
    }
    &__bg:nth-child(3) {
        visibility: hidden;
        @include mixins.image_background('../assets/booking/booking_bg3.jpg');
    }
    &__bg:nth-child(4) {
        visibility: hidden;
        @include mixins.image_background('../assets/booking/booking_bg4.jpg');
    }

    &__content {
        z-index: 1;
        position: relative;
    }

    &__title {
        text-align: center;
        font-size: 50px;
        color: #fff;
        text-shadow: 0 0 5px #000;
        margin-bottom: 40px;
    }

    &__content-agencies {
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        height: 150px;
        margin-bottom: 40px;
        .booking__agencies-agency {
            width: 150px;
            height: inherit;
            border-radius: 50%;
            position: absolute;
            top: 0;
            transition: 1s;
            cursor: pointer;
        }

        .booking__agencies-agency:nth-child(1) {
            @include mixins.agencies_align(0%, 0%);
            @include mixins.image_background('../assets/agencies-logos/nasa.png');
            background-size: contain;
        }
        .booking__agencies-agency:nth-child(2) {
            @include mixins.agencies_align(50%, -50%);
            @include mixins.image_background('../assets/agencies-logos/ukraine.png');
            background-size: contain;
        }
        .booking__agencies-agency:nth-child(3) {
            @include mixins.agencies_align(100%, -100%);
            @include mixins.image_background('../assets/agencies-logos/spacex.png');
            background-size: 120%;
            background-color: rgba(180, 221, 255, 0.5);
            backdrop-filter: blur(6px);
            height: 110px;
            width: 110px;
            top: 50%;
            transform: translate(-100%, -50%);
        }
    }
    &__content-form {
        max-width: 600px;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(7px);
        visibility: hidden;
        opacity: 0;
        transform: scale(.8);
        border-radius: 10px;
        transition: 1s;
        .booking__form-input {
            display: block;
            width: 100%;
            height: 50px;
            margin: 15px 0;
            padding: 0 15px;
            border: none;
            color: #fff;
            outline: none;
            font-size: 18px;
            background-color: rgba(255, 255, 255, 0.23);
            transition: .3s;
        }
        .booking__form-input:focus {
            background-color: rgba(255, 255, 255, 0.5);
        }
        .booking__form-input::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
        .booking__form-submit {
            padding: 10px 50px;
            border: none;
            font-size: 18px;
            text-transform: uppercase;
            outline: none;
            margin: 0 auto;
            display: block;
            cursor: pointer;
            background-color: #fff;
            color: #e40707;
            border-radius: 5px;
            transition: .3s;
        }
        .booking__form-submit:hover {
            background-color: #e40707;
            color: #fff;
        }
    }

    // ***** DYNAMICS *****

    &__bg.active {
        opacity: 1;
        visibility: visible;
    }
    
    .agency--nasa.active {
        @include mixins.agencies_align(50%, -50%);
    }
    .agency--ukr.active {
        @include mixins.agencies_align(50%, -50%);
    }
    .agency--spacex.active {
        @include mixins.agencies_align(50%, -100%);
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__agencies-agency.hide {
        opacity: 0;
        visibility: hidden;
    }
    
    &__content-form.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

}