<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Home
	body
		//- include ../components/navigation/navigation
		include ../components/header/header
		//- .content
		//- 	h1 Content
		//- include ../components/footer/footer