mixin notification
    .notification
        .notification__column.notification--icon
            i.fas.fa-exclamation-triangle
        .notification__column.notification--message
            p.notification__column-message Lorem ipsum dolor sit, amet consectetur adipisicing elit.