extends ../../page-templates/base

include ../../components/flights/flights
include ../../components/sides/sides
include ../../components/whyus/whyus

block variables
	- var title = 'Home'

block content
	.home
		+sides
		+whyus
		+flights
