mixin infomodal
    .infomodal
        .infomodal__close-btn
            .infomodal__btn-line
            .infomodal__btn-line
        .infomodal__content.nasa--info
            h1.infomodal__content-title NASA
            .infomodal__picture.nasa--logo
            p.infomodal__text The National Aeronautics and Space Administration (NASA, /ˈnæsə/) is an independent agency of the United States Federal Government responsible for the civilian space program, as well as aeronautics and aerospace research.
            p.infomodal__text NASA was established in 1958, succeeding the National Advisory Committee for Aeronautics (NACA). The new agency was to have a distinctly civilian orientation, encouraging peaceful applications in space science. Since its establishment, most US space exploration efforts have been led by NASA, including the Apollo Moon landing missions, the Skylab space station, and later the Space Shuttle. NASA is supporting the International Space Station and is overseeing the development of the Orion Multi-Purpose Crew Vehicle, the Space Launch System and Commercial Crew vehicles. The agency is also responsible for the Launch Services Program which provides oversight of launch operations and countdown management for uncrewed NASA launches.
            //- iframe(src="https://www.youtube.com/embed/WeA7edXsU40", frameborder="0" width="100%" height="720" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .infomodal__content.ukr--info
            h1.infomodal__content-title State Space Agency of Ukraine
            .infomodal__picture.ukraine--logo
            p.infomodal__text The State Space Agency of Ukraine (SSAU; Ukrainian: Державне космічне агентство України, Derzhavne kosmichne ahentstvo Ukrayiny, ДКАУ, DKAU) is the Ukrainian government agency responsible for space policy and programs. Along with the Ukrainian Defense Industry and the Antonov Aeronautical Scientific-Technical Complex, it is a major state complex of the national defense industry of Ukraine. The State Space Agency of Ukraine does not specialize in manned astronautical programs. It is the second of two direct Soviet space program descendants. The agency does not have its own spaceport and until 2014, depended on the resources of the Russian Federal Space Agency (the primary inheritor of the Soviet space program).
            p.infomodal__text Until 2014 launches were conducted at Kazakhstan's Baikonur and Russia's Plesetsk Cosmodromes. After the Russian annexation of Crimea, launches were conducted on Sea Launch's floating platform, which was soon mothballed. NSAU has ground control and tracking facilities in Kiev and a control center in Dunaivtsi (Khmelnytskyi Oblast). Other facilities in Yevpatoria, Crimea were abandoned after the annexation by Russia.
            //- iframe(src="https://www.youtube.com/embed/J5fuMZjsRhI", frameborder="0" width="100%" height="720" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .infomodal__content.spacex--info
            h1.infomodal__content-title SpaceX
            .infomodal__picture.spacex--logo
            p.infomodal__text Space Exploration Technologies Corp., trading as SpaceX, is a private American aerospace manufacturer and space transportation services company headquartered in Hawthorne, California. It was founded in 2002 by Elon Musk with the goal of reducing space transportation costs to enable the colonization of Mars. SpaceX has developed several launch vehicles and the Dragon spacecraft.
            p.infomodal__text SpaceX's achievements include the first privately funded liquid-propellant rocket to reach orbit (Falcon 1 in 2008), the first private company to successfully launch, orbit, and recover a spacecraft (Dragon in 2010), the first private company to send a spacecraft to the International Space Station (Dragon in 2012), the first propulsive landing for an orbital rocket (Falcon 9 in 2015), the first reuse of an orbital rocket (Falcon 9 in 2017), and the first private company to launch an object into orbit around the sun (Falcon Heavy's payload of a Tesla Roadster in 2018). SpaceX has flown 18 resupply missions to the International Space Station (ISS) under a partnership with NASA.
            //- iframe(src="https://www.youtube.com/embed/fgwA3Y5tK2s", frameborder="0" width="100%" height="720" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
