mixin footer
    .footer
        .footer__content
            .footer__content-social
                .footer__social-icon
                    i.fab.fa-facebook-square
                .footer__social-icon
                    i.fab.fa-instagram
                .footer__social-icon
                    i.fab.fa-twitter-square
            ul.footer__content-nav
                .footer__nav-li
                    a.footer__li-link(href="./index.html") Home
                .footer__nav-li
                    a.footer__li-link(href="./booking.html") Booking
                .footer__nav-li
                    a.footer__li-link(href="./gallery.html") Gallery