mixin camera
    .camera
        .camera__holder
            .camera__body
                canvas#camera__canvas
                video#camera__video
                img.camera__result
                .camera__flash
            .camera__controls   
                button#take__picture
                    i.fas.fa-camera
                    i.fas.fa-trash-alt
                button#set__picture
                    i.fas.fa-check-circle